<a href="index.html" class="pull-left visible-md visible-lg">
    <div id="logo-img"></div>
</a>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center display-6">{{getTitle()}}</h1>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link border border-2 border-dark rounded text-dark" href="#">Dashboards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border border-2 border-dark rounded text-dark" href="#">Operadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border border-2 border-dark rounded text-dark" href="#">Simcards</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link border border-2 border-dark rounded text-dark " href="#">Planes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border border-2 border-dark rounded text-dark" href="#">Dispositivos de Red</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border border-2 border-dark rounded text-dark" href="#">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border border-2 border-dark rounded text-dark" href="#">Consumos</a>
            </li>
        </ul>
        
    </div> 
</div> 
