<div class="container-fluid">
    <form class="row">
        <div class="col-7 mb-3 mt-5">
            <div class="row mb-3">
                <label for="mobileOp" class="col-3 form-label text-center">Operador móvil</label>
                <div class="col-9">
                    <input type="text" class="form-control" id="mobileOp">
                </div>
            </div>
            
        </div>
        <div class="col-5 mb-3 mt-5">
            <div class="row mb-3">
                <label for="freqBand" class="col-3 form-label">Banda en GHz</label>
                <div class="btn-group col-9">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                        Seleccione una banda de operación
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-item">2.4</li>
                      <li><hr class="dropdown-divider"></li>
                      <li class="dropdown-item">5.0</li>
                    </ul>
                </div>
            </div>
            

        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
    